.btn{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    
}

/* .btn:hover{
    background-color: #eee;
} */

.sucess{
    color: green;
}